.no-transform {
    text-transform: none !important;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-toggle .count {
    position: absolute;
    top: 4px;
    right: 15px;
    height: 20px;
    width: 20px;
    overflow: hidden;
    background: #dc3545;;
    color: #FFF;
    text-align: center;
    border-radius: 100%;
    font-size: 11px;
    font-weight: bold;
    line-height: 20px;
}

.dropdown-menu .count {
    display: inline-block;
    top: -5px;
    height: 20px;
    width: 20px;
    background: #dc3545;
    color: #FFF;
    text-align: center;
    border-radius: 100%;
    line-height: 20px;
}

.notification-user {
    font-weight: 600;
}

#notif-dropdown-menu {
    width: 280px;

}

#notif-container {
    overflow-y: scroll;
    max-height: 230px;
}