<div class="container login mt-2">
    <div class="col-md-8 mx-auto">
        <div class="card pt-4">
            <div class="text-center">
                <h4>Inscrivez-vous</h4>
            </div>
            <form class="form" #f="ngForm" (submit)="register(f)" ngNativeValidate>
                <div class="card-body">
                    <div class="row">
                        <div class="form-group col-md-4">
                            <input type="text" [(ngModel)]="user.firstName" class="form-control" required="required"
                                   name="firstName" id="firstName"
                                   placeholder="Prénom">
                        </div>
                        <div class="form-group col-md-4">
                            <input type="text" [(ngModel)]="user.lastName" class="form-control" required="required"
                                   name="lastName" id="lastName"
                                   placeholder="Nom">
                        </div>
                        <div class="form-group col-md-4">
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-secondary" (click)="setGender(true)">
                                    <input type="radio" name="gender" id="genderboy" class="form-control" [(ngModel)]="user.gender" required #gender="ngModel">    Homme
                                </label><label class="btn btn-secondary" (click)="setGender(false)">
                                    <input type="radio" name="gender" id="gendergirl" class="form-control" [(ngModel)]="user.gender" required #gender="ngModel">    Femme
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="email" [(ngModel)]="user.email" class="form-control" required name="email"
                               id="email"
                               placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="password" [(ngModel)]="user.password" class="form-control" required name="password"
                               id="password"
                               placeholder="Mot de passe">
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Date de naissance"
                               name="dp" [(ngModel)]="model" [minDate]="minDate" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()">
                    </div>
                    <div class="form-group">
                        <input type="text" minlength="10" [(ngModel)]="user.phoneNumber" class="form-control" required
                               name="phoneNumber" placeholder="Téléphone" #userPhone="ngModel"
                               [ngClass]="{'is-invalid':userPhone.errors?.required && userPhone.touched || userPhone.errors?.minlength}"

                        >
                        <div *ngIf="userPhone.errors?.minlength && userPhone.touched" class="invalid-feedback">
                            Au moins 10 caractères
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" minlength="10" [(ngModel)]="user.address.street" class="form-control"
                               required
                               name="street" placeholder="Rue">
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <input type="text" [(ngModel)]="user.address.zip" class="form-control" required name="zip"
                                   placeholder="Code Postal">
                        </div>
                        <div class="form-group col-md-4">

                            <input type="text" [(ngModel)]="user.address.city" class="form-control" required name="city"
                                   placeholder="Ville">
                        </div>
                        <div class="form-group col-md-4">

                            <input type="text" [(ngModel)]="user.address.country" class="form-control" required
                                   name="country"
                                   placeholder="Pays">
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-success btn-round btn-lg btn-block">S'inscrire</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>