<div class="container mt-5" *ngIf="users">
    <div class="col-md-11 mx-auto">
        <input class="form-control" type="text" placeholder="Recherche membre" name="search" [(ngModel)]="filter">
        <table class="table table-striped table-bordered table-responsive-md mt-2">
            <caption class="lead text-center">Liste des membres ({{users.length}})</caption>
            <thead class="thead-dark">
            <tr>
                <th style="cursor: pointer;" scope="col" (click)="sort('lastName')">
                    <i *ngIf="key =='lastName'" class="fa" [ngClass]="{'fa-chevron-down':reverse,'fa-chevron-up':!reverse}"></i>&nbsp;Nom
                </th>
                <th style="cursor: pointer;" scope="col" (click)="sort('firstName')">
                    <i *ngIf="key =='firstName'" class="fa" [ngClass]="{'fa-chevron-down':reverse,'fa-chevron-up':!reverse}"></i>&nbsp;Prénom
                </th>
                <th>Email</th>
                <th style="cursor: pointer;" scope="col" (click)="sort('rating')">
                    <i *ngIf="key =='rating'" class="fa" [ngClass]="{'fa-chevron-down':reverse,'fa-chevron-up':!reverse}"></i>&nbsp;Note
                </th>
                <th style="cursor: pointer;" scope="col" (click)="sort('isActive')">
                    <i *ngIf="key =='isActive'" class="fa" [ngClass]="{'fa-chevron-down':reverse,'fa-chevron-up':!reverse}"></i>&nbsp;Compte
                </th>
                <th style="cursor: pointer;" scope="col" (click)="sort('role')">
                    <i *ngIf="key =='role'" class="fa" [ngClass]="{'fa-chevron-down':reverse,'fa-chevron-up':!reverse}"></i>&nbsp;Rôle
                </th>
                <th>Changer rôle</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of users | filter:filter| orderBy: key : reverse | paginate: { itemsPerPage: 5, currentPage: p }">
                <td>{{user.lastName}}</td>
                <td>{{user.firstName}}</td>
                <td>{{user.email}}</td>
                <td>
                    <ngb-rating [(rate)]="user.rating" readonly="true">
                        <ng-template let-fill="fill" let-index="index">
                            <span class="star" [class.filled]="fill === 100">&#9733;</span>
                        </ng-template>
                    </ngb-rating>
                </td>
                <td *ngIf="user.isActive">
                    <button class="btn btn-outline-success">Actif</button>
                </td>
                <td *ngIf="!user.isActive">
                    <button class="btn btn-outline-danger">Suspendu</button>
                </td>
                <td>{{user.role | uppercase}}</td>
                <td *ngIf="user.role === 'member' && authService.user._id !== user._id">
                    <button class="btn btn-secondary" (click)="changeRole(user)">
                        Rendre admin
                    </button>
                </td>
                <td *ngIf="user.role === 'admin' && authService.user._id !== user._id" (click)="changeRole(user)">
                    <button class="btn btn-secondary">
                        Rétrograder
                    </button>
                </td>
                <td *ngIf="user.isActive && authService.user._id !== user._id">
                    <button class="btn btn-danger" (click)="toggleActivation(user)">Suspendre</button>
                </td>
                <td *ngIf="!user.isActive && authService.user._id !== user._id">
                    <button class="btn btn-info" (click)="toggleActivation(user)">Réactiver</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>