<div class="container">
    <div class="col-md-6 mx-auto mt-5">
        <div class="card card-body">
            <h4 class="text-center">Modification du trajet</h4>
            <form ngNativeValidate #f="ngForm" (submit)="editTravel(f)" class="mt-4">
                <!--<div class="form-group">-->
                <!--<label for="departure">Départ</label>-->
                <!--<input [(ngModel)]="travel.departure" type="text" class="form-control" id="departure"-->
                <!--name="departure" required>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                <!--<label for="destination">Destination</label>-->
                <!--<input [(ngModel)]="travel.destination" type="text" class="form-control" id="destination"-->
                <!--name="destination" required>-->
                <!--</div>-->
                <div>
                    <label>Adresse de départ</label>
                    <ng4geo-autocomplete [userSettings]="{
                                         inputPlaceholderText: this.travel.departureAddress,
                                         inputString: this.travel.departureAddress,
                                         showSearchButton:false,
                                         geoCountryRestriction: ['fr']
                    }" (componentCallback)="autoCompleteCallback1($event)"></ng4geo-autocomplete>
                </div>
                <div>
                    <label>Adresse de destination</label>
                    <ng4geo-autocomplete [userSettings]="{
                                         inputPlaceholderText: this.travel.destinationAddress,
                                         inputString: this.travel.destinationAddress,
                                         showSearchButton:false,
                                         geoCountryRestriction: ['fr']
                    }" (componentCallback)="autoCompleteCallback2($event)"></ng4geo-autocomplete>
                </div>
                <div class="form-group" (click)="setprice()">
                    <label for="price">Tarif</label>
                    <input [(ngModel)]="travel.price" type="number" min="0" class="form-control" id="price" name="price"
                           max="0"
                           required>
                </div>
                <div class="form-group">
                    <label for="date">Date</label>
                    <input class="form-control" id="date"
                           name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()"
                           [minDate]="minDate" required>
                </div>
                <div class="form-group">
                    <label for="car">Voiture</label>
                    <select class="form-control" name="car" id="car" [(ngModel)]="travel.car">
                        <option *ngFor="let car of cars" [value]="car._id" [selected]="car._id === travel.car._id">
                            {{car.make}} {{car.model}}
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="placesAvailable">Places disponibles</label>
                    <input class="form-control" type="number" value="0" [(ngModel)]="travel.placesAvailable"
                           id="placesAvailable" name="placesAvailable">
                </div>
                <div class="form-group">
                    <label for="averageTime">Durée moyenne</label>
                    <input [(ngModel)]="travel.averageTime" class="form-control" id="averageTime" name="averageTime"
                           value="'0" readonly>
                </div>
                <div class="form-group">
                    <label for="distance">Distance (en km)</label>
                    <input [(ngModel)]="travel.distance" class="form-control" id="distance" name="distance"
                           value="'0" readonly>
                </div>
                <!--<button type="submit" class="btn btn-primary">Valider</button>-->

                <button type="submit" class="btn btn-success btn-block" id="submit4" (click)="setprice()">Valider</button>
            </form>
        </div>
    </div>
</div>