<div class="container travel-types mt-3">
    <div class="row mb-5">
        <div *ngFor="let car of cars  | paginate: { itemsPerPage: 4, currentPage: p }"
             class="col-lg-6 col-md-12 d-flex">
            <div class="card w-100 mb-2">
                <div class="card-body">
                    <div class="card-text row">
                        <div class="col-md-4">
                            <i class="fa fa-car fa-5x"></i>
                        </div>
                        <div class="col-md-8">
                            <h5>{{car.make | uppercase}} {{car.model}}</h5>
                            Places: {{car.seating}} <br>
                            Immatriculation: {{car.licensePlate}}
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-transparent" style="border: none;">
                    <a href="#" class="btn btn-primary">Modifier</a>
                    <button class="btn btn-danger" (click)="deleteCar(car._id)">Supprimer</button>
                </div>
            </div>
        </div>
    </div>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>