<main class="main">
    <app-navbar></app-navbar>
    <flash-messages></flash-messages>
    <router-outlet></router-outlet>
</main>
<footer class="mt-5">
    <div class="container">
        <div class="offset-md-1 footer col-md-10">
            <div class="footer-title">
                <h1>Suivez-nous sur les réseaux sociaux</h1>
            </div>
            <div>
                <div class="icons col-md-4">
                    <i class="fa fa-facebook  fa-2x fa-border ml-2" aria-hidden="true"></i>
                    <i class="fa fa-twitter  fa-2x fa-border ml-2" aria-hidden="true"></i>
                    <i class="fa fa-google-plus  fa-2x fa-border ml-2" aria-hidden="true"></i>
                    <i class="fa fa-pinterest  fa-2x fa-border ml-2" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div class="footer row contact">
            <div class="col-sm-4">
                <p class="lead"> Easycar &copy; 2018<br>
                </p>
                <p class="lead">
                    <a href="mailto:contact@email.com" class="text-white">contact@email.com</a> <br>
                    +33000000000
                </p>
            </div>
            <div class="col-sm-4">
                <ul class="lead">
                    <li>Comment ça marche</li>
                    <li>Foire Aux Questions</li>
                    <li>Conseils</li>
                </ul>
            </div>
            <div class="col-sm-4">
                <ul class="lead">
                    <li>Contact</li>
                    <li>A propos</li>
                    <li>Confidentialité</li>
                    <li>Conditions générales</li>
                </ul>
            </div>
        </div>
    </div>

</footer>