<div class="container mt-3">
    <div class="row">
        <div class="col-md-4 mt-5">
            <h4 class="label">Photo de Profil</h4>
            <p>Modifier votre photo de profil</p>
        </div>
        <div class="col-md-8 ml-auto media">
            <img src="{{uploadUrl}}/{{user.photo}}" alt="" class="d-flex mr-3 img-thumbnail" style="max-width: 300px; max-height: 300px;">
            <div class="media-body">
                <div class="form-group">
                    <label for="photo" class="label">Modifier sa photo de profil</label><br>
                    <input type="file" name="photo"  id="photo">
                </div>
                <button type="button" class="btn btn-success" (click)="upload()">
                    Valider
                </button>
                <button type="button" class="btn btn-danger" (click)="deletePicture()">
                    Supprimer photo
                </button>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-4 mt-5">
            <h4 class="label">Paramètres</h4>
            <p>Vous pouvez modifier vos informations</p>
        </div>
        <div class="col-md-8 ml-auto">
            <form ngNativeValidate #f="ngForm" (submit)="update(f)">
                <div class="card-body">
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="firstName" class="label">Prénom</label>
                            <input type="text" [(ngModel)]="user.firstName" class="form-control" required="required"
                                   name="firstName" id="firstName">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="lastName" class="label">Nom</label>
                            <input type="text" [(ngModel)]="user.lastName" class="form-control" required="required"
                                   name="lastName" id="lastName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="label">Email</label>
                        <input type="email" [(ngModel)]="user.email" class="form-control" required name="email"
                               id="email">
                    </div>
                    <div class="form-group">
                        <label for="birth" class="label">Date de naissance</label>
                        <input class="form-control" name="birth" id="birth" value="{{user.birth | date: 'dd-MM-yyyy'}}"
                               disabled>
                    </div>
                    <div class="form-group">
                        <label for="phoneNumber" class="label">Téléphone</label>
                        <input type="text" minlength="10" [(ngModel)]="user.phoneNumber" class="form-control" required
                               name="phoneNumber" id="phoneNumber" #userPhone="ngModel"
                               [ngClass]="{'is-invalid':userPhone.errors?.required && userPhone.touched || userPhone.errors?.minlength}"
                        >
                        <div *ngIf="userPhone.errors?.minlength && userPhone.touched" class="invalid-feedback">
                            Au moins 10 caractères
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="street" class="label">Rue</label>
                        <input type="text" minlength="10" [(ngModel)]="user.address.street" class="form-control"
                               required
                               name="street" id="street">
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="zip" class="label">Code postal</label>
                            <input type="text" [(ngModel)]="user.address.zip" class="form-control" required name="zip"
                                   id="zip">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="city" class="label">Ville</label>
                            <input type="text" [(ngModel)]="user.address.city" class="form-control" required name="city"
                                   id="city">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="country" class="label">Pays</label>
                            <input type="text" [(ngModel)]="user.address.country" class="form-control" required
                                   name="country"
                                   id="country">
                        </div>
                    </div>
                    <div class="">
                        <button type="submit" class="btn btn-success btn-round" style="cursor: pointer;">Mettre à jour
                            le profil
                        </button>
                        <button type="button" class="btn btn-outline-dark btn-round pull-right" routerLink="/dashboard"
                                style="cursor: pointer;">Annuler
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>